<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> !</h1>
    <p>
      Votre rendez-vous avec <%= @owner.first_name %> a bien été enregistré.</br>
      Pour convenir des détails du rdv, nous vous invitons à prendre contact avec votre conseiller : <%= @owner.email %>.
    </p>
    <p>Récapitulatif du rdv :</p>
    <ul>
      <li>Date : <%= @appointment.date_start.strftime("%d/%m/%Y") %></li>
      <li>Durée souhaitée : <%= @appointment.duration %> minutes</li>
      <li>Prix de la visite : <%= @appointment.house.price_visit %>€</li>
    </ul>
    <p> À très vite sur AirBatiment !</p>
  </body>
</html>