<div class="row text-center m-5">
  <% @houses.each do |house| %>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header"><%= house.title %></h4>
        <div class="">
          <%if house.apicture.attached?%>
            <%= image_tag house.apicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="card-body">
          <p class="card-text text-justify"><%= house.description %></p>
          <p class="card-text"><%= house.price_visit %>€/visite</p>
        </div>
        <div class="card-footer">
          <%= link_to "Plus d'informations ?", house_path(house.id), class:"btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
