<div class="col-md-12 mb-3 mt-5 text-center border-bottom">
  <h1 class="mb-2 text-primary">Mettre en ligne une maison</h1>
</div>

<%= form_tag house_path, method: "put" do %>

  <div class="d-flex form-row">
    <div class="col-md-6 mb-3 align-self-center">
      <div class="mb-3">
        <%= label_tag 'Title' %>
        <%= text_field_tag 'title', @house.title, class: 'form-control', minlength: 5, maxlength: 40, placeholder: "Quel est le titre de votre annonce ?" %>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <%= label_tag 'Taille de la maison' %>
          <%= number_field_tag 'area', @house.area, class: 'form-control', min: 60, max: 500 %>
        </div>
        <div class="col-md-6 mb-3">
          <%= label_tag 'Nombre de pièce' %>
          <%= number_field_tag 'room', @house.room, class: 'form-control', min: 2, max: 10 %>
        </div>
      </div>
      <div class="mb-3">
        <%= label_tag 'Description' %>
        <%= text_area_tag 'description', @house.description, class: 'form-control', minlength: 5, maxlength: 140, placeholder:"Quel est la description de votre maison ?" %>
      </div>
    </div>


    <div class="col-md-6 align-self-start">
      <div class="mb-3">
        <%= label_tag 'Ville' %>
        <%= text_field_tag 'city', @house.city, class: 'form-control' %>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <%= label_tag 'Prix de la construction' %>
          <%= number_field_tag 'price_house', @house.price_house, class: 'form-control', min: 100000, max: 500000 %>
        </div>
        <div class="col-md-6 mb-3">
          <%= label_tag 'Prix de la visite' %>
          <%= number_field_tag 'price_visit', @house.price_visit, class: 'form-control', min: 15, max: 100 %>
        </div>
      </div>


    </div>
  </div>

    <%= submit_tag "Créer l'annonce", class: "btn btn-lg btn-primary rounded-2" %>

<% end %>

<div class="card-body">
  <h3>Changer images N°1</h3>
  <%= form_tag house_apictures_path(@house), multipart: true do %>
    <%= file_field_tag :apicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

  <h3>Changer images N°2</h3>
  <%= form_tag house_bpictures_path(@house), multipart: true do %>
    <%= file_field_tag :bpicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

  <h3>Changer images N°3</h3>
  <%= form_tag house_cpictures_path(@house), multipart: true do %>
    <%= file_field_tag :cpicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

  <h3>Changer images N°4</h3>
  <%= form_tag house_dpictures_path(@house), multipart: true do %>
    <%= file_field_tag :dpicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

  <h3>Changer images N°5</h3>
  <%= form_tag house_epictures_path(@house), multipart: true do %>
    <%= file_field_tag :epicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

  <h3>Changer images N°6</h3>
  <%= form_tag house_fpictures_path(@house), multipart: true do %>
    <%= file_field_tag :fpicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

  <h3>Changer images N°7</h3>
  <%= form_tag house_gpictures_path(@house), multipart: true do %>
    <%= file_field_tag :gpicture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

</div>
