<div class="col-md-12 mb-3 mt-5 text-center border-bottom">
  <h1 class="mb-2 text-primary">Mettre en ligne une maison</h1>
</div>

<%= form_tag houses_path, method: "post" do %>

  <div class="d-flex form-row">
    <div class="col-md-6 mb-3 align-self-center">
      <div class="mb-3">
        <%= label_tag 'Title' %>
        <%= text_field_tag 'title', @house.title, class: 'form-control', minlength: 5, maxlength: 40, placeholder: "Quel est le titre de votre annonce ?" %>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <%= label_tag 'Taille de la maison' %>
          <%= number_field_tag 'area', @house.area, class: 'form-control', min: 60, max: 500 %>
        </div>
        <div class="col-md-6 mb-3">
          <%= label_tag 'Nombre de pièce' %>
          <%= number_field_tag 'room', @house.room, class: 'form-control', min: 2, max: 10 %>
        </div>
      </div>
      <div class="mb-3">
        <%= label_tag 'Description' %>
        <%= text_area_tag 'description', @house.description, class: 'form-control', minlength: 5, maxlength: 140, placeholder:"Quel est la description de votre maison ?" %>
      </div>
    </div>


    <div class="col-md-6 align-self-start">
      <div class="mb-3">
        <%= label_tag 'Ville' %>
        <%= text_field_tag 'city', @house.city, class: 'form-control' %>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <%= label_tag 'Prix de la construction' %>
          <%= number_field_tag 'price_house', @house.price_house, class: 'form-control', min: 100000, max: 500000 %>
        </div>
        <div class="col-md-6 mb-3">
          <%= label_tag 'Prix de la visite' %>
          <%= number_field_tag 'price_visit', @house.price_visit, class: 'form-control', min: 15, max: 100 %>
        </div>
      </div>

    </div>
  </div>

    <%= submit_tag "Créer l'annonce", class: "btn btn-lg btn-primary rounded-2" %>

<% end %>
