<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="slider" class="owl-carousel product-slider">
        <div class="item">
          <%if @house.apicture.attached?%>
            <%= image_tag @house.apicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.bpicture.attached?%>
            <%= image_tag @house.bpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.cpicture.attached?%>
            <%= image_tag @house.cpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.dpicture.attached?%>
            <%= image_tag @house.dpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.epicture.attached?%>
            <%= image_tag @house.epicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.fpicture.attached?%>
            <%= image_tag @house.fpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.gpicture.attached?%>
            <%= image_tag @house.gpicture, alt: 'picture' %>
          <%end%>
        </div>
      </div>
      <div id="thumb" class="owl-carousel product-thumb">
        <div class="item">
          <%if @house.apicture.attached?%>
            <%= image_tag @house.apicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.bpicture.attached?%>
            <%= image_tag @house.bpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.cpicture.attached?%>
            <%= image_tag @house.cpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.dpicture.attached?%>
            <%= image_tag @house.dpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.epicture.attached?%>
            <%= image_tag @house.epicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.fpicture.attached?%>
            <%= image_tag @house.fpicture, alt: 'picture' %>
          <%end%>
        </div>
        <div class="item">
          <%if @house.gpicture.attached?%>
            <%= image_tag @house.gpicture, alt: 'picture' %>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-dtl">
        <div class="product-info">
          <div class="product-name"><%= @house.title %></div>
          <div class="reviews-counter">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" checked />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" checked />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            <span>3 Reviews</span>
          </div>
          <div class="product-price-discount"><span><%= @house.price_visit %></span>€</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted">
              Propriétaire : </br>
              <b><%= @owner.first_name %> <%= @owner.last_name %></b>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="text-muted">Prix estimé du bien</span></br>
              <%= @house.price_house %> €
            </p>
          </div>

        </div>


        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="text-muted">Surface</span></br>
              <%= @house.area %>m²
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="text-muted">Type</span></br>
              <%= @house.room %> pièces
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <% if owner_signed_in? %>
              <% if @house.owner.id == current_owner.id %>
                <%= link_to 'Modifier infos', edit_house_path(@house), class:"btn btn-success" %>
                <%= link_to "Gérer les créneaux", new_availability_path(house_id: @house.id), class:"btn btn-warning" %>
                <%= link_to 'Supprimer', @house, method: :delete, data: { confirm: 'Est-ce que tu es sûr ?' }, class:"btn btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="mb-3 col-md-12 border rounded"  style="max-height: 400px;">
            <div class="my-5">
              <h3><strong>Réservation</strong></h3>

              <%= form_tag house_path(@house), method: "get" do %>
                <div>
                  <div>
                    <%= label_tag 'Date du rendez-vous' %>
                    <%= date_field_tag 'date_start', Date.today, id: "date_select", class: 'form-control' %>
                    <br/>
                    <%= submit_tag "Choisir date", class: "mb-3 btn btn-outline-primary" %>
                  </div>
                </div>
               <% end %>

                <% @availabilities.each do |availability| %>
                 <% if availability.date_start.to_date == @date.to_date && availability.appointment.nil?%>
                 <div class="mt-3">
                  <%= availability.date_start.strftime("%d/%m/%Y à %H:%M") %> -
                  <% unless owner_signed_in? %>
                    <%= link_to "Prendre RDV", new_charge_path(id: availability.id, house_id: @house.id, user_id: current_user.id), class: "btn-sm btn-primary" %></br>
                  </div>
                  <% end %>
                <% end %>
              <% end %>

            </div>
            <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="product-info-tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Avis (0)</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        <%= @house.description %>
      </div>
      <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="review-heading">Avis & Notes</div>
        <p class="mb-20">Il n'y a pas de commentaires pour l'instant.</p>
        <form class="review-form">
          <div class="form-group">
            <label>Votre note</label>
            <div class="reviews-counter">
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Commentaire</label>
            <textarea class="form-control" rows="10"></textarea>
          </div>
          <button class="round-black-btn">Soumettre le commentaire</button>
        </form>
      </div>
    </div>
  </div>


</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity=" sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>










<!--<div class="container">-->

<!--  <div>-->
<!--    <h2 class="h2 mt-5"><%#= @house.title %></h2>-->
<!--    <p class="text-muted"><small>Ville : </small></p>-->
<!--  </div>-->

<!--  <div class="row">-->

<!--    <div class="col-md-8">-->
<!--      <div class="my-auto">-->
<!--        <p class="text-primary text-center my-auto">No picture attached</p>-->
<!--      </div>-->
<!--    </div>-->

    <%# if owner_signed_in? %>
      <%# if @house.owner.id == current_owner.id %>
        <%#= link_to 'Edit', edit_house_path(@house), class:"btn btn-success" %>
        <%#= link_to "Ajouter créneau", new_availability_path(house_id: @house.id), class:"btn btn-warning" %>
        <%#= link_to 'Destroy', @house, method: :delete, data: { confirm: 'Est-ce que tu es sûr ?' }, class:"btn btn-danger" %>
      <%# end %>
    <%# end %>


<!--    <div class="col-md-4">-->
      <%# if current_owner == @owner %>
        <%#= link_to "Modifier infos", :class => "btn btn-primary btn-sm text-center" %>
      <%# end %>
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--<div class="mt-3 container">-->

<!--  <div class="row">-->
<!--    <div class="col-md-8">-->
<!--      <h3><b>Description</b></h3>-->
<!--      <p class="text-justify"><%#= @house.description %></p>-->

<!--      <hr>-->

<!--      <h3><b>Informations</b></h3>-->
<!--      <p class="text-muted">-->
<!--        <strong><%#= @house.price_visit %>€</strong>/visite</br>-->
<!--        Propriétaire : <b><%#= @owner.first_name %> <%#= @owner.last_name %></b>-->
<!--      </p>-->

<!--      <hr>-->

<!--      <h4>Détails de la maison</h4>-->
<!--      <p>-->
<!--        <span class="text-muted">Prix estimé du bien</span></br>-->
<!--        <%#= @house.price_house %> €-->
<!--      </p>-->
<!--      <p>-->
<!--        <span class="text-muted">Surface</span></br>-->
<!--        <%#= @house.area %>m²-->
<!--      </p>-->
<!--      <p>-->
<!--        <span class="text-muted">Type</span></br>-->
<!--        <%#= @house.room %> pièces-->
<!--      </p>-->
<!--    </div>-->
      <%# if user_signed_in? %>
<!--    <div class="mb-3 col-md-4 border rounded"  style="max-height: 400px;">-->
<!--      <div class="mt-5">-->
<!--        <h3><strong>Réservation</strong></h3>-->

        <%#= form_tag appointments_path, method: "post" do %>

<!--          <div>-->
            <%#= hidden_field_tag 'house', @house.id, class: 'form-control', :readonly => true %>
            <%#= hidden_field_tag 'user', current_user.id, class: 'form-control', :readonly => true %>
<!--          </div>-->

<!--          <div>-->
<!--             <div>-->
              <%#= label_tag 'Date du rendez-vous' %>
              <%#= date_field_tag 'date_start', nil, class: 'form-control' %>
<!--              <br/><br/>-->
<!--            </div>-->

<!--             <div>-->
              <%#= label_tag 'Durée (entre 60 et 120 minutes)' %>
              <%#= text_field_tag 'duration', "60", class: 'form-control' %>
<!--              <br/><br/>-->
<!--            </div>-->
<!--          </div>-->

<!--        <div class="text-center">-->
          <%#= submit_tag "Prendre rdv", class: "mb-3 btn btn-outline-primary" %>
<!--        </div>-->

        <%# end %>

      <%# end %>
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
