<div class="container">

  <div>
    <h2 class="h2 mt-5"><%= @house.title %></h2>
    <p class="text-muted"><small>Ville : </small></p>
  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="my-auto">
        <p class="text-primary text-center my-auto">No picture attached</p>
      </div>
    </div>

    <% if owner_signed_in? %>
      <% if @house.owner.id == current_owner.id %>
        <%= link_to 'Edit', edit_house_path(@house), class:"btn btn-success" %>
        <%= link_to "Ajouter créneau", new_availability_path(house_id: @house.id), class:"btn btn-warning" %>
        <%= link_to 'Destroy', @house, method: :delete, data: { confirm: 'Est-ce que tu es sûr ?' }, class:"btn btn-danger" %>
      <% end %>
    <% end %>


    <div class="col-md-4">
      <% if current_owner == @owner %>
        <%= link_to "Modifier infos", :class => "btn btn-primary btn-sm text-center" %>
      <% end %>
    </div>
  </div>

</div>

<div class="mt-3 container">

  <div class="row">
    <div class="col-md-8">
      <h3><b>Description</b></h3>
      <p class="text-justify"><%= @house.description %></p>

      <hr>

      <h3><b>Informations</b></h3>
      <p class="text-muted">
        <strong><%= @house.price_visit %>€</strong>/visite</br>
        Propriétaire : <b><%= @owner.first_name %> <%= @owner.last_name %></b>
      </p>

      <hr>

      <h4>Détails de la maison</h4>
      <p>
        <span class="text-muted">Prix estimé du bien</span></br>
        <%= @house.price_house %> €
      </p>
      <p>
        <span class="text-muted">Surface</span></br>
        <%= @house.area %>m²
      </p>
      <p>
        <span class="text-muted">Type</span></br>
        <%= @house.room %> pièces
      </p>
    </div>
      <% if user_signed_in? %>
    <div class="mb-3 col-md-4 border rounded"  style="max-height: 400px;">
      <div class="mt-5">
        <h3><strong>Réservation</strong></h3>

        <%= form_tag appointments_path, method: "post" do %>

          <div>
            <%= hidden_field_tag 'house', @house.id, class: 'form-control', :readonly => true %>
            <%= hidden_field_tag 'user', current_user.id, class: 'form-control', :readonly => true %>
          </div>

          <div>
             <div>
              <%= label_tag 'Date du rendez-vous' %>
              <%= date_field_tag 'date_start', nil, class: 'form-control' %>
              <br/><br/>
            </div>

             <div>
              <%= label_tag 'Durée (entre 60 et 120 minutes)' %>
              <%= text_field_tag 'duration', "60", class: 'form-control' %>
              <br/><br/>
            </div>
          </div>

        <div class="text-center">
          <%= submit_tag "Prendre rdv", class: "mb-3 btn btn-outline-primary" %>
        </div>

        <% end %>


      </div>
    </div>
      <% @availabilities.each do |availability| %>
        <%= availability.date_start %>
        <%= link_to "Prendre RDV", appointments_path(id: availability.id, house_id: @house.id, user_id: current_user.id), method: "post", class:"btn btn-primary" %></br>
      <% end %>
      <% end %>
  </div>
</div>
