<div class="container profil">
  <div class="avatar-flip">
    <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar' %>
    <%else%>
      <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
    <%end%>
  </div>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <h4><%= @user.email %></h4>
  <p><%= @user.description %></p>
  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
      <%= link_to 'Modifier mon mot de passe', edit_user_registration_path(@user), class:"btn btn-success" %>
      <%= link_to 'Modifier mon profil', edit_user_path(@user), class:"btn btn-success" %>
      <%= link_to 'Supprimer mon compte', @user, method: :delete, data: { confirm: 'Est-ce que tu es sûr ?' }, class:"btn btn-danger" %>
    <% end %>
  <% end %>

</div>

<div class="container">
  <h2 class="mb-3 text-center">Mes visites</h2>
   <div class="row">
    <% @appointments.each do |appointment| %>
    <% unless appointment.availability.nil? %>
     <div class="col-sm-4">
      <div class="mb-3 card">
        <div class="bg-light text-dark card-header">
        <%= appointment.house.title %></br>
        </div>
        <div class="card-body">
          <div class="mb-2">
            <ul>
              <li>
                <span class="text-muted">Date et heure :</span> <strong><%= appointment.availability.date_start.strftime("%d/%m/%Y à %H:%M") %></strong></br>
              </li>
              <li>
                <span class="text-muted">Durée</span> <strong><%= appointment.availability.duration %> minutes</strong></br>
              </li>
              <li>
                <span class="text-muted">Prix de la visite : </span><strong><%= appointment.house.price_visit %>€</strong></br>
              </li>
            </ul>
          </div>
        <%= link_to "Voir maison", house_path(appointment.house), class:"btn btn-primary" %>
        <%= link_to "Annuler le rdv", appointment_path(appointment.id), method: :delete, class:"btn btn-danger" %></br>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
</div>