<!DOCTYPE html>
<html>
  <head>
    <title>Airbatiment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!--    Fontawesome-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
  </head>

  <body>
    <!-- Navigation-->
    <%= render "layouts/navbar"%>

    <!--    Page content-->
    <% if current_page?(root_path) %>
      <%= render "layouts/jumbotron" %>
    <% end %>

    <div class="container">

      <!--      Modal navbar-->
      <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" aria-haspopup="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">Particulier</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#owner" role="tab" aria-controls="owner" aria-selected="false">Propriétaire</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                <%= render "users/sessions/new" %>
              </div>
              <div class="tab-pane fade" id="owner" role="tabpanel" aria-labelledby="owner-tab">
                <%= render "owners/sessions/new" %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <%= yield %>
    </div>

    <!-- Footer-->
    <%= render "layouts/footer" %>



  </body>
</html>
